@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

@import "bourbon";

@import
	'//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'
	;

.rank_div {
	width: 1300px;
	margin: 80px auto 30px;
}

.rank_ul {
	width: 450px;
	display: flex;
	justify-content: space-between;
}

.rank_ul li {
	list-style: none;
	color: #014D81;
}

.rank_li01 {
	font-size: 55px;
	font-weight: 100;
}

.rank_li02 {
	font-size: 22px;
}

.container {
	width: 1300px;
	margin: 30px auto;
	display: flex;
}

.left_filter {
	color: #FF766B;
}

.left_filter li {
	margin: 0 auto;
	list-style: none;
	/* color: #014D81; */
}

.rignt_contents {
	margin-left: 50px;
}

.price_class, .avg_class {
	width: 80px;
}

.main_shorts, .main_sub, .main_price, .main_avg, .main_offer {
	height: 90px;
	margin-bottom: 40px;
}

.shorts_div, .sub_div, .price_div, .avg_div, .offer_div {
	cursor: pointer;
	border-bottom: 1px solid #FF766B;
	width: 168px;
	height: 30px;
	text-align: center;
	font-size: 20px;
}

.shorts, .sub, .offer, .price_select, .avg_select {
	width: 168px;
	height: 30px;
	color: #FF766B;
	border: none;
	cursor: pointer;
}

.shorts option {
	font-size: 15px;
}

.price, .avg {
	color: #FF766B;
	border: none;
}

/* .price_select, .avg_select {
    color: #FF766B;
    font-size: 13px;
    text-align: right;
    margin-right: 10px;
    border: 1px solid #FF766B;
} */
.check_sub {
	margin: 0 auto;
	width: 168px;
	height: 61px;
	font-size: 25px;
	color: white;
	border: 1px solid #346aff;
	border-radius: 3px;
	background-color: #346aff;
	cursor: pointer;
}

#check {
	width: 20px;
	height: 20px;
}

.list_check {
	width: 20px;
	height: 20px;
}

.rignt_contents {
	width: 1082px;
}

.search_view {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.right-control {
	width: 250px;
	height: 40px;
	font-size: 23px;
	padding: 7px;
	border-radius: 10px;
}

.view {
	border: 1px solid #FF766B;
	height: 30px;
	width: 100px;
}

.fir_btn, .thr_btn {
	margin: 0 auto;
	height: 43px;
	font-size: 20px;
	color: white;
	border: 1px solid #346aff;
	border-radius: 3px;
	background-color: #346aff;
	cursor: pointer;
	margin-right: 10px;
}

.fir_btn {
	width: 110px;
}

.thr_btn {
	width: 210px;
}

.cre_list {
	width: 1082px;
	margin-top: 50px;
}

.list_00 {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid black;
	padding-bottom: 15px;
	align-items: center;
	font-size: 20px;
}

#star01 {
	width: 40px;
	height: 40px;
}

.list_01, .list_02, .list_03, .list_04, .list_05, .list_06, .list_07,
	.list_08, .list_09, .list_10 {
	border-bottom: 1px solid black;
	padding-top: 15px;
	padding-bottom: 15px;
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.list_00 ul, .list_01 ul, .list_02 ul, .list_03 ul, .list_04 ul,
	.list_05 ul, .list_06 ul, .list_07 ul, .list_08 ul, .list_09 ul,
	.list_10 ul {
	display: flex;
}

.list_00_div01, .list_01_div01, .list_02_div01, .list_03_div01,
	.list_04_div01, .list_05_div01, .list_06_div01, .list_07_div01,
	.list_08_div01, .list_09_div01, .list_10_div01 {
	width: 100px;
	display: flex;
	align-items: center;
}

.list_00_div03 ul, .list_01_div03 ul, .list_02_div03 ul, .list_03_div03 ul,
	.list_04_div ul, .list_05_div ul, .list_06_div ul, .list_07_div ul,
	.list_08_div ul, .list_09_div ul, .list_10_div ul {
	align-items: center;
}

.list_00_div03 li, .list_01_div03 li, .list_02_div03 li, .list_03_div03 li,
	.list_04_div03 li, .list_05_div03 li, .list_06_div03 li, .list_07_div03 li,
	.list_08_div03 li, .list_09_div03 li, .list_10_div03 li {
	width: 130px;
	list-style: none;
	text-align: center;
}

.list_01_div01, .list_02_div01, .list_03_div01, .list_04_div01,
	.list_05_div01, .list_06_div01, .list_07_div01, .list_08_div01,
	.list_09_div01, .list_10_div01 {
	display: flex;
	width: 115px;
}

.list_01_div01 p, .list_02_div01 p, .list_03_div01 p, .list_04_div01 p,
	.list_04_div01 p, .list_05_div01 p, .list_06_div01 p, .list_07_div01 p,
	.list_08_div01 p, .list_09_div01 p, .list_10_div01 p {
	display: flex;
	margin-left: 15px;
}

.list_01_div02 {
	width: 150px;
}

.list_01_div02 img, .list_02_div02 img, .list_03_div02 img,
	.list_04_div02 img, .list_05_div02 img, .list_06_div02 img,
	.list_07_div02 img, .list_08_div02 img, .list_09_div02 img,
	.list_10_div02 img {
	width: 64px;
	height: 64px;
	border-radius: 50%;
}

.list_01_div02 a, .list_02_div02 a, .list_03_div02 a, .list_04_div02 a,
	.list_05_div02 a, .list_06_div02 a, .list_07_div02 a, .list_08_div02 a,
	.list_09_div02 a, .list_10_div02 a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #014D81;
}

.div_img {
	margin-left: 15px;
}

.btn_class {
	display: flex;
}

#star_btn {
	border: none;
	background: none;
	cursor: pointer;
}

#star_li {
	display: flex;
	justify-content: center;
}

.star_create {
	width: 32px;
	height: 32px;
}

.list_01_img {
	display: flex;
	border: none;
	background: none;
	align-items: center;
	cursor: pointer;
}

.nickname_span {
	font-size: 20px;
}
.list_01_div03 p {
	font-size: 20px;
}