/* free_board_write */
#write_container{
	width: 1300px;
	margin: 0 auto;
	margin-top: 80px;
}
table{
	border-collapse:collapse
}
textarea {
	width: 1300px;
	height: 500px;
	padding: 3px;
	resize: none;
}
.ck-editor__editable { height: 400px; }
.ck-content { font-size: 12px; }


.write_date{
    margin: 4px;
    padding: 7px;
    /* height: 40px; */
    font-size: 17px;
    
}
#write_final{
    margin-top: 100px;
    margin-left: 300px;
    width: 400px;
    height: 61px;
    font-size: 25px;
    border: 1px solid #c9c9ff;
    background-color: #c9c9ff;
    border-radius: 25px;
}
.title{
	width:300px;
	height: 55px;
	font-size: 22px;
	text-align: center;
	padding: 3px;
}
.content{
	width:1000px;
	height: 55px;
	font-size: 16px;
	padding: 3px;
}
.content2{
	width:350px;
	height: 55px;
	font-size: 16px;
	padding: 3px;
	text-align: center;
}
