table{
	border-collapse: collapse;
}
#company_board_category_container {
	width: 1300px;
	margin: 0 auto;
	margin-top: 80px;
}
#written_table td{
	padding: 3px;
	padding-left: 15px;
	font-size: 18px;
}
h1{
	margin-bottom: 20px;
	font-size: 70px;
	color: #050c58;
}
#abcd {
	color: #346aff;
}
#written_container{
    margin: 0 auto;
    margin-top: 80px;
    width: 1300px;
    height: 500px;
}
.written_table {
    margin-top: 70px;
}
.written_head{
    width: 200px;
    height: 50px;
    color: #346aff;
    font-size: 25px;
}
.written_head2{
    width: 1100px;
    height: 50px;
    color: #346aff;
    font-size: 25px;
}
/* 게시판 목록 */
#company_board_container {
	width: 1300px;
	margin: 0 auto;
}/* 게시판 목록 */
#company_board_container th, #company_board_container td {
	border-bottom : 1px solid gray;
}
#company_board_container table{
	table-layout:fixed;
	border-collapse: separate; 
	width: 300px;
}
#company_board_container table tr th{
    font-size: 25px;
    padding: 5px;
}
#company_board_container table tr td{
    font-size: 20px;
    height: 30px;
    padding: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 327.547px;
    white-space: nowrap;
}
table tr td span {
	margin-left: 5px;
}
.written_search{
    margin-top: 20px;
    margin-bottom: 20px;
}
#search_input {
    width: 1188px;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* 검색 버튼 스타일 */
.search_button {
    width: 50px;
    height: 50px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
/* #company_board_container table th:nth-child(1) { */
/*     width: 50px; */
/* } */
/* #company_board_container table td:nth-child(1) { */
/*     text-align: center; */
/* } */
/* #company_board_container table th:nth-child(2) { */
/*     width: 340px; */
/* } */
/* #company_board_container table th:nth-child(3) { */
/* 	width: 150px; */
/* } */
/* #company_board_container table td:nth-child(3) { */
/*     text-align: center; */
/* } */
/* #company_board_container table th:nth-child(4) { */
/* 	width: 100px; */
/* } */
/* #company_board_container table td:nth-child(4) { */
/*     text-align: center; */
/* } */
/* #company_board_container table th:nth-child(5) { */
/* 	width: 100px; */
/* } */
/* #company_board_container table td:nth-child(5) { */
/*     text-align: center; */
/* } */
/* #company_board_container table th:nth-child(6) { */
/* 	width: 100px; */
/* } */
/* #company_board_container table td:nth-child(6) { */
/*     text-align: center; */
/* } */
/* #company_board_container table th:nth-child(7) { */
/* 	width: 100px; */
/* } */
/* #company_board_container table td:nth-child(7) { */
/*     text-align: center; */
/* } */
/* #company_board_container table th:nth-child(8) { */
/* 	width: 250px; */
/* } */
/* #company_board_container table td:nth-child(8) { */
/*     text-align: center; */
/* } */
/* #company_board_container table th:nth-child(9) { */
/* 	width: 100px; */
/* } */
/* #company_board_container table td:nth-child(9) { */
/*     text-align: center; */
/* } */

#company_board_container table td:nth-child(1) {
    text-align: center;
}
#company_board_container table th:nth-child(1) {
	width: 50px;
}
#company_board_container table th:nth-child(2) {
	width: 400px;
}
#company_board_container table td:nth-child(3) {
    text-align: center;
}
#company_board_container table th:nth-child(3) {
	width: 150px;
}
#company_board_container table td:nth-child(4) {
    text-align: center;
}
#company_board_container table th:nth-child(4) {
	width: 145px;
}
#company_board_container table td:nth-child(5) {
    text-align: center;
}
#company_board_container table th:nth-child(5) {
	width: 145px;
}
#company_board_container table td:nth-child(6) {
    text-align: center;
}
#company_board_container table th:nth-child(6) {
	width: 249px;
}
#company_board_container table td:nth-child(7) {
    text-align: center;
}
#company_board_container table th:nth-child(7) {
	width: 145px;
}


#company_board_container table tr td a {
    color: black; /* 원하는 색상으로 변경 */
    text-decoration: none; /* 밑줄 제거 */
}
#company_board_container table tr td a:visited {
    color: #808080; /* 클릭 후의 색상 */
    text-decoration: none; /* 밑줄 제거 */
}

/* 글쓰기 버튼*/
#company_board_write_btn{
	width:1300px;
	margin: 0 auto;
	margin-top: 10px;

}
#company_board_write_btn input {
    width: 85px;
    height: 35px;
    font-size: 18px;
    color: white;
    border: 1px solid #346aff;
    border-radius: 3px;
    background-color: #346aff;
    cursor: pointer;
	float: right;
}
#title a{
	overflow: hidden;
}
@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    --active: #275EFE;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #275EFE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;
    &:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    }
    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9;
      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }
      & + label {
        cursor: not-allowed;
      }
    }
    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }
    &:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    &:not(.switch) {
      width: 20px;
      &:after {
        opacity: var(--o, 0);
      }
      &:checked {
        --o: 1;
      }
    }
    & + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  }
  input[type='checkbox'] {
    &:not(.switch) {
      border-radius: 7px;
      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
      }
      &:checked {
        --r: 43deg;
      }
    }
    &.switch {
      width: 38px;
      border-radius: 11px;
      &:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }
      &:checked {
        --ab: var(--active-inner);
        --x: 17px;
      }
      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: .6;
          }
        } 
      }
    }
  }