#company_board_category_container {
	width: 1300px;
	margin: 0 auto;
}
#written_container{
    
    margin: 0 auto;
    margin-top: 80px;
    width: 1300px;
    height: 500px;
}
.written_table {
    margin-top: 70px;
}
.written_head{
    width: 200px;
    height: 50px;
}
.written_head2{
    width: 1100px;
    height: 50px;
}

table tr th{
    font-size: 25px;
    padding: 5px;
}
table tr td{
    font-size: 16px;
    height: 30px;
    padding: 5px;
}
table tr td span {
	margin-left: 5px;
}
.written_search{
    margin-top: 20px;
    margin-bottom: 20px;
}
#search_input {
    width: 1188px;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* 검색 버튼 스타일 */
.search_button {
    width: 50px;
    height: 50px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
/* 게시판 목록 */
#company_board_container {
	width: 1300px;
	margin: 0 auto;
}

#company_board_container th, td {
	padding: 3px;
	border-bottom : 1px solid gray;
	font-size: 16px;
}
#company_board_container table th:nth-child(1) {
    width: 50px;
}
#company_board_container table td:nth-child(1) {
    text-align: center;
}
#company_board_container table th:nth-child(2) {
    width: 400px;
}
#company_board_container table th:nth-child(3) {
	width: 175px;
}
#company_board_container table td:nth-child(3) {
    text-align: center;
}
#company_board_container table th:nth-child(4) {
	width: 85px;
}
#company_board_container table td:nth-child(4) {
    text-align: center;
}
#company_board_container table th:nth-child(5) {
	width: 85px;
}
#company_board_container table td:nth-child(5) {
    text-align: center;
}
#company_board_container table th:nth-child(6) {
	width: 85px;
}
#company_board_container table td:nth-child(6) {
    text-align: center;
}
#company_board_container table th:nth-child(7) {
	width: 85px;
}
#company_board_container table td:nth-child(7) {
    text-align: center;
}
#company_board_container table th:nth-child(8) {
	width: 250px;
}
#company_board_container table td:nth-child(8) {
    text-align: center;
}
#company_board_container table th:nth-child(9) {
	width: 85px;
}
#company_board_container table td:nth-child(9) {
    text-align: center;
}
