@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.creator_title {
    width: 1300px;
    margin: 80px auto;
    color: #014D81;
}

.creator_title_p {
    font-size: 40px;
    font-weight: 500;
}

.creator_info {
    width: 1300px;
    margin-top: 80px;
}

.creator_img ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
}

.creator_info li {
    list-style: none;
    padding: 5px;
    margin-left: 50px;
    font-size: 40px;
    align-items: center;
}

.creator_info p {
    font-weight: 100;
}

.creator_img {
    display: flex;
    justify-content: space-between;
}

.creatorimg {
    width: 256px;
    border: 1px solid #014D81;
}

.creator_info_img {
    display: flex;
    align-items: center;
}

.creator_info_img img {
    width: 64px;
    padding-right: 15px;
}

.creator_button {
    width: 500px;
    height: 70px;
    font-size: 40px;
    color: #014D81;
}

.button_div {
    display: flex;
    align-items: end;
}

.info_text {
    width: 1300px;
    margin: 80px auto;
}

.info_text p, .creator_play p, .top_play p {
    text-align: center;
    font-size: 60px;
    color: #014D81;
}

.text_box {
    border: 1px solid #014D81;
    width: 1300px;
    height: 400px;
}

.creator_play, .top_play {
    width: 1300px;
    margin: 80px auto;
}

.creator_youtube {
    width: 100%;
}

.top_play_div {
    display: flex;
    justify-content: space-between;
}

.follow, .avg_look, .chart {
    width: 1300px;
    margin: 80px auto;
}

.follow_p1, .avg_look_p1 {
    font-size: 60px;
    color: #014D81;
}

.follow_p2, .avg_look_p2 {
    font-size: 40px;
    color: #FF766B;
}

.follow_p3, .avg_look_p3 {
    color: #c2c2c2;
}

.chart {
    display: flex;
    justify-content: space-between;
}

.cahrt ul {
    text-align: center;
}

.chart li{
    list-style: none;
    font-size: 20px;
    color: #014D81;
    text-align: center;
}

.femail_color {
    color: #FF766B;
}

.ten {
    color: #FF766B;
}

.thirty {
    color: #cfca2b;
}

.forty {
    color: #43b368;
}

.fifty {
    color: #a351d3;
}

.donut_box {
    width: 240px;
}

.donut {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    align-items: center;
    position: relative;
    text-align: center;
    transition:.3s ease-in-out;
    margin: auto;
}

.donut01 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    align-items: center;
    position: relative;
    transition:.3s ease-in-out;
    margin: auto;
}

.add_info {
    width: 1300px;
    margin: 0 auto;
    color: #014D81;
    font-size: 60px;
    font-weight: 100;
}

footer {
    position: absolute;
    width: 100%;
    margin-top: 100px;
    background-color: #014D81;
}

.footer_class {
    width: 1300px;
    height: 200px;
    margin: 0 auto;
    padding-top: 50px;
}

footer a {
    text-decoration: none;
    color: #aaa;
    font-weight: 400;
}

footer p {
    color: #aaa;
    font-weight: 400;
}