@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.center {
    display: flex;
    background: url(../img/maingif.gif) 50% center / cover no-repeat;
    width: 100%;
    height: 560px;
    margin-bottom: 40px;
    justify-content: center;
    align-items: flex-start;
    background-position: 50% center;
    background-repeat: no-repeat;
}

.center_container {
    max-width: 1300px;
    padding-top: 300px;
}

.center_container_div {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.p1 {
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    color: #EBE673
}

.p2 {
    text-align: center;
    font-weight: 450;
    font-size: 16px;
    color: #FF766B;
}

#center_container_button {
    width: 550px;
    height: 50px;
    font-size: 17px;
    color: black;
    border: 0;
    border-radius: 15px;
    display: grid;
    place-items: center;
    padding: 20px;
}

.advertising_type {
    width: 1300px;
    margin: 0 auto;
}

.advertising_type_p, .creator_p, .praticipationg_p {
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    color: #FF766B;
    margin-top: 30px;
}

.li_p {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #014D81;
    text-decoration: none;
}

.advertising_type li {
    list-style: none;
    text-align: center;
}

.advertising_type img {
    height: 100px;
}

.advertising_ul {
    display: flex;
    justify-content: space-around;
    border: 3px solid #014D81;
    height: 170px;
    margin-top: 15px;
    align-items: center;
}

.creator_type {
    width: 1300px;
    margin: 30px auto;
}

.creator_type_div {
    border: 3px solid #014D81;
    height: 250px;
    margin-top: 15px;
}

.creator_type_ul {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}

.creator_type li {
    list-style: none;
    text-align: center;
}

.creator_type img {
    width: 64px;
    text-align: center;
}

.creator_type_ul a, .advertising_ul a {
    text-decoration: none;
}

.creator_type_ul p {
    color: #014D81;
    text-align: center;
    font-size: 18px;
}


.pra_div {
    width: 1300px;
    margin: 10px auto;
}

.pra_div_div {
    overflow: hidden;
}

.participating_companies {
    width: 1300px;
    margin: 0 auto;
}

.participating_companies_div {
    width: 1300px;
    height: 400px;
}

.participating_companies_div ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.participating_companies_div li {
    list-style: none;
    padding: 15px;
    display: inline-block;
}

.participating_companies_div img {
    width: 128px;
    height: 100%;
}

.pra_div {
    width: 1300px;
    margin: 0 auto;
}

.pra_ul {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    /* overflow: hidden; */
}

.pra_li {
    list-style: none;
}


.img_info_main {
    width: 1300px;
    height: 750px;
    margin: 10px auto;
}

.img_info,
.img_info02 {
    width: 1300px;
    display: flex;
    justify-content: center;
}

.img_info img {
    width: 1300px;
}

.img_info02 img {
    width: 250px;
    margin-top: 30px;
}

.slide_up {
    width: 1300px;
    margin: 80px auto;
}

.slide_up_div {
    display: flex;
    justify-content: center;
}