@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');


.main {
	width: 1300px;
	margin: 80px auto;
	height: 1200px;
}

h1 {
	font-size: 45px;
	font-weight: 500;
	color: #FF766B;
}

.all_info li {
	list-style: none;
}

.top_info {
	display: flex;
	align-items: center;
	margin-top: 15px;
}

.user_img img {
	width: 128px;
}

.top_info li {
	padding: 5px;
	font-size: 20px;
	
}

.div_ul {
	margin-left: 30px;
	width: 1000px;
}

.top_info div:nth-child(3) img{
	width: 64px;
	height: 64px;
}

.div_home {
	text-align: center;
}


hr {
	width: 1300px;
	margin: 15px auto;
	border: 2px solid #014D81;
}

h2 {
	margin-top:50px;
	width:57px;
	border-bottom: 3px solid #014D81; 
}

.text {
	margin-top: 15px;
	width: 1300px;
	height: 500px;
	border: 1px solid black;
}

.reviousAdvertising h2{
	width: 130px;
}

.reviousAdvertising ul{
	display: flex;
	margin-top: 50px;
}

.check_pro {
	margin: 0 auto;
    margin-top: 50px;
    width: 200px;
    height: 61px;
    font-size: 25px;
    color: white;
    border: 1px solid #346aff;
    border-radius: 3px;
    background-color: #346aff;
    cursor: pointer;
}
