@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Do Hyeon", sans-serif;
}

header {
  position: relative;
  height: 100px;
  width: 1300px;
  margin: 0 auto;
}

header a,
nav a {
  text-decoration: none;
}

.top_button img {
  height: 18px;
  padding-left: 10px;
}

#main_logo {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 250px;
  height: auto;
}

.top_button {
  position: absolute;
  top: 25px;
  right: 0px;
}

.form-control {
  width: 320px;
  height: 30px;
  font-size: 17px;
  color: black;
  display: grid;
  place-items: center;
  border: 1px solid black;
  padding: 10px;
}

.header_search {
  position: absolute;
  top: 50px;
  right: 0px;
}

.nav_div {
  display: flex;
  width: 1300px;
  margin: 30px auto;
}

.nav_div a {
  text-decoration: none;
  color: #014d81;
}

.gnbbox {
  width: 870px;
  height: 210px;
  background: white;
  position: absolute;
  top: 180px;
  border: 5px solid #014d81;
  border-radius: 15px;
}

.nav_div li {
  font-family: "Do Hyeon", sans-serif;
  list-style: none;
  line-height: 40px;
}

.gnb li {
  margin-right: 23px;
}

.gnb a {
  color: #014d81;
  font-size: 18px;
}

.gnb img {
  height: 25px;
}

.category {
  color: #014d81;
  display: flex;
  position: absolute;
}

.category_text {
  font-size: 25px;
  color: #014d81;
  line-height: 40px;
}

.nav_ul {
  display: flex;
  font-size: 25px;
  font-weight: 500;
  justify-content: space-between;
  width: 700px;
  margin-left: 100px;
}

.category_div {
  position: absolute;
  top: 50px;
  left: 0;
  display: flex;
  width: 1000px;
}

.category_div li {
  padding: 5px;
}

.gnb div {
  display: flex;
  align-items: center;
}

.li_text {
  padding-left: 8px;
}

.category_div li:nth-child(1) {
  margin-left: 15px;
}

.category_div li:nth-child(2) {
  margin-left: 15px;
}

.category_div li:nth-child(3) {
  margin-left: 15px;
}

.category_div li:nth-child(4) {
  margin-left: 15px;
}

.category_div li:nth-child(5) {
  margin-left: 15px;
}

.nav_ul li a:after {
  display: block;
  content: "";
  width: 90px;
  height: 10px;
  border-bottom: 1px solid #000;
  margin: -15px auto;
  transform: scaleX(0);
  transition: all 250ms ease-in-out;
}

nav ul li:hover a:after {
  transform: scaleX(1);
}

nav ul li:nth-child(2) a:after {
  width: 160px;
}

nav ul li:nth-child(3) a:after {
  width: 90px;
}

nav ul li:nth-child(4) a:after {
  width: 70px;
}

nav ul li:nth-child(5) a:after {
  width: 83px;
}
/* 여기서부터  */

.basketdiv {
  margin: 0 auto;
  width: 1300px;
  border-top: 1px solid #e0e0e0;
  font-size: 15px;
  margin-top: 100px;
  margin-bottom: 20px;
}
.basketdiv .row.head {
  border-bottom: 2px solid #888;
  box-sizing: border-box;
  background-color: #f4f4f4;
  font-weight: 500;
}
.basketdiv .data {
  border-bottom: 1px dashed #888;
  box-sizing: border-box;
  cursor: pointer;
  float: left;
  width: 1300px;
  display: flex;
}
.basketdiv .data .empty {
  text-align: center;
  padding: 12px 0;
}
.basketdiv .row.head .subdiv {
  background-color: #f4f4f4;
}
.basketdiv .row > .subdiv {
  display: flex;
  float: left;
}
.basketdiv .row > .subdiv:nth-child(1) {
  width: 50%;
}
.basketdiv .row > .subdiv:nth-child(2) {
  width: 40%;
}
.basketdiv .row > .subdiv:nth-child(3) {
  width: 10%;
}
.basketdiv2 .row > .subdiv:nth-child(1) {
  width: 60%;
}
.basketdiv2 .row > .subdiv:nth-child(2) {
  width: 40%;
}
.basketdiv .row > div > div {
  display: block;
  float: left;
  text-align: center;
  margin: 0;
  padding: 12px 0;
  font-size: 20px;
  margin-bottom: 10px;
}
.basketdiv .row.data > div > div {
  height: 60px;
  line-height: 60px;
  
}
.basketdiv .data .num .updown {
  color: #0075ff;
  font-size: 20px;
  letter-spacing: 1px;
}
.basketdiv .check {
  width: 10%;
}
.basketdiv .check input[type="checkbox"] {
  transform: scale(1.5);
}
.basketdiv .img {
  width: 50%;
}
.basketdiv .pname {
  width: 70%;
}
.basketdiv2 .pname {
  width: 80%;
}
.basketdiv .basketprice {
  width: 33%;
}
.basketdiv .num {
  width: 33%;
  min-width: 105px;
}
.basketdiv .sum {
  width: 34%;
  max-width: 80px;
  color: #0000aa;
}
.basketdiv .point {
  width: 50%;
}
.basketdiv2 .basketprice {
  width: 25%;
}

.basketdiv2 .num {
  width: 25%;
}

.basketdiv2 .sum {
  width: 25%;
  color: #0000aa;
}

.basketdiv2 .point {
  width: 25%;
}
.basketdiv .basketcmd {
  width: 100%;
}

.basketdiv .data .price,
.basketdiv .data .sum,
.basketdiv .data .point {
  text-align: right;
}
.baseform > tbody > tr > td:first-child {
  width: 100px;
}

.buttongroup {
  padding: 11px 0;
  margin: 50px 0;
}
.narrowbuttongroup {
  margin: 15px 0;
}
.buttongroup.center {
  text-align: center;
}
.buttongroup input[type="text"],
.buttongroup input[type="password"] {
  height: 30px;
}
.buttongroup button,
.buttongroup a {
  margin-right: 5px;
}
.buttongroup button:last-child,
.buttongroup a:last-child {
  margin-right: 0;
}

.abutton,
.abutton:link,
.abutton:visited,
.abutton:active,
input[type="button"] {
  background-color: #383838;
  border: 1px solid #888888;
  color: #ffffff;
  cursor: pointer;
  letter-spacing: -1px;
  padding: 3px 5px;
  margin: 2px 3px;
  width: auto;
  word-break: keep-all;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  margin-top: 30px;
}

.abutton-alt {
  background-color: #d3e2c6;
}

.red {
  color: #b00;
}
.blue {
  color: #0075ff;
}

.basketrowcmd,
.sumcount,
.summoney {
  width: 400px;
  margin: 0 auto;
  margin-top: 20px; 
  margin-left: 1300px;
  display: flex;
  /* background-color: blue; */
}

.sumcount,
.summoney {
  font-size: 30px;
}

#confirm {
  width: 220px;
  height: 50px;
  text-align: center;
  border-radius: 15px;
  border: 5px solid #ff766b;
  font-size: 30px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: #ff766b;

}

.buttongroup {
  text-align: center;
}
.buttongroup a {
  text-decoration: none;
}
.cmd a,
.cmd span {
  padding: 12px 30px;
  box-sizing: border-box;
  margin-top: 10px;
  font-size: 1.2em;
  color: #000;
  background-color: #f4f4f4;
  border: 1px solid #e0e0e0;
  text-align: center;
}
.cmd.small a,
.cmd.small span {
  padding: 6px 20px;
  font-size: 0.8125em;
}

.orderform .p_num {
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
}

#product > .order > form > table {
  width: 1300px;
  border-top: 2px solid #000;
  border-collapse: collapse;
  /* border-spacing: ; */
}

#product > .order > form > table tr {
  border-bottom: 1px solid #d3d3d3;
}

#product > .order > form > table th {
  padding: 12px 0;
  background: #fff;
  color: #383838;
  font-size: 0.95em;
  text-align: center;
  letter-spacing: -0.1em;
}

#product > .order > form > table .empty {
  display: none;
}

#product > .order > form > table td {
  text-align: center;
}

#product > .order > form > table td:last-child {
  color: #ff006c;
  font-weight: bold;
}

/* #product > .order > form > table tr > td > input {
  } */

#product > .order > form > table td > article {
  margin: 0 auto;
  padding: 6px;
  overflow: hidden;
}

#product > .order > form > table td > article > a {
  /* float: left; */
  display: inline-block;
}

#product > .order > form > table td > article > a > img {
  width: 80px;
}

#product > .order > form > table td > article > div {
  float: left;
  margin-left: 10px;
  padding-top: 10px;
}

#product > .order > form > table td > article > div > h2 {
  text-align: left;
}

#product > .order > form > table td > article > div > p {
  text-align: left;
  color: #777;
  margin-top: 4px;
}

#product > .order > form > article {
  width: 560px;
  height: auto;
  margin-top: 30px;
}




#product > .order > form > .final {
  float: right;
  width: 360px;
  height: 412px;
  padding: 20px;
  margin-top: 12px;
  background: #fff;
  border: 1px solid #ff766b;
  border-radius: 12px;
  box-sizing: border-box;
  margin-top: 65px;
}

#product > .order > form > .final > h2 {
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid #111;
  margin-bottom: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  color: #1e1e1e;
}

#wrapper {
  margin: 0 auto;
}

#product > .order > form > .final > table {
  width: 100%;
}

#product > .order > form > .final > table tr:nth-last-child(1) td {
  font-size: 20px;
}

#product > .order > form > .final > table tr:nth-last-child(1) td:last-child {
  color: #ff006c;
  font-size: 20px;
  font-weight: bold;
}

#product > .order > form > .final > table td {
  padding: 10px 0;
  font-size: 15px;
  color: #555;
}

#product > .order > form > .final > table td:last-child {
  text-align: right;
}

#product > .order > form > .final > input[type="submit"] {
  width: 100%;
  height: 56px;
  font-size: 26px;
  border-width: 1px;
  border-color: #d81818;
  border-bottom-color: #9e1212;
  background: #ed2f2f;
  background-image: -webkit-linear-gradient(#ed2f2f, #dd0e0e);
  color: #fff;
  box-sizing: border-box;
  margin-top: 10px;
}

#product > .order > form > article > h1 {
  font-weight: bold;
  font-size: 14px;
  padding: 6px 0;
  margin-bottom: 12px;
  border-bottom: 1px solid #111;
}

#product > .order > form > article > div {
  padding: 6px;
  box-sizing: border-box;
}

#product > .order > form > .delivery > table {
  margin-top: 10px;
  /* background-color: blue; */
}

#product > .order > form > .delivery > table tr > td:nth-child(1) {
  padding: 6px;
}

#product > .order > form > .delivery > table input[type="button"] {
  padding: 4px 6px;
  outline: none;
  color: #346aff;
    font-size: 15px;
    border: 1px solid #346aff;
    border-radius: 3px;
    cursor: pointer;
    background-color: white;
}

#product > .order > form input {
	margin: 0 auto;
  color: #555;
  padding: 2px 0;
  border: 1px solid #999;
  box-sizing: border-box;
}

#product > .order > form > .delivery > table input[name="addr1"] {
  width: 400px;
}
#product > .order > form > .delivery > table input[name="addr2"] {
  width: 400px;
}

#product > .order > form > .discount > div {
  overflow: hidden;
}
#product > .order > form > .discount > div > p {
  float: left;
}
#product > .order > form > .discount > div > label {
  float: right;
}
#product > .order > form > .discount > div > label > input[type="text"] {
  display: inline-block;
  outline: none;
}
#product > .order > form > .discount > div > span {
  display: block;
  margin-top: 20px;
  color: #888;
}
#product > .order > form > .discount > div > label > input[type="button"] {
  padding: 4px 6px;
  border: 1px solid #ccc;
  background-color: #f0f4f9;
  border-color: #acc0e0;
  color: #3371c9;
  outline: none;
}
#product > .order > form > .payment > div {
  margin-bottom: 10px;
}
#product > .order > form > .payment > div > span {
  display: inline-block;
  color: #3a85c8;
  margin: 6px 0;
}
#product > .order > form > .payment > div label {
  margin-right: 16px;
}
#product > .order > form > .payment > div input {
  vertical-align: bottom;
  margin-right: 4px;
}
#product > .order > form > .alert {
  width: 1000px;
  background-color: #f7f7f7;
  padding: 6px;
  padding-left: 20px;
  color: #999;
  box-sizing: border-box;
  margin-top: 30px;
}
#product > .order > form > .alert > ul {
  list-style: inherit;
}
#product > .order > form > .alert > ul > li {
  line-height: 20px;
}
#product > .order > form > .alert > ul > li > span {
  position: relative;
  left: -6px;
}

.order {
  width: 1300px;
  margin: 0 auto;
  margin-top: 100px;
}

/* 푸터 시작 */

footer {
  position: absolute;
  width: 100%;
  margin-top: 100px;
  background-color: #014d81;
}

.footer_class {
  width: 1300px;
  height: 200px;
  margin: 0 auto;
  padding-top: 50px;
}

footer a {
  text-decoration: none;
  color: #aaa;
  font-weight: 400;
}

footer p {
  color: #aaa;
  font-weight: 400;
}
