#volunteer_container{
	width: 1300px;
	margin: 0 auto;
	margin-top: 80px;
}
/*지원자 리스트*/
#volunteer_list{
/* 	margin: 0 auto; */
	margin-top: 25px;
	border-collapse: collapse;
}
#volunteer_list td{
	padding: 5px;
}
#volunteer_list th{
	font-size: 24px;
}
#volunteer_list tr{
	height: 30px;
	padding: 5px;
}
#volunteer_list td:nth-child(1) {
	width: 30px;
	text-align: center;
}
/* #volunteer_list td:nth-child(2) { */
/* 	width: 150px; */
/* 	text-align: center; */
/* } */
#volunteer_list td:nth-child(2) {
	width: 150px;
	text-align: center;
}
#volunteer_list td:nth-child(3) {
	width: 150px;
	text-align: right;
	padding-right: 15px;
}
#volunteer_list td:nth-child(4) {
	width: 150px;
	text-align: right;
	padding-right: 15px;
}
#volunteer_list td:nth-child(5) {
	width: 100px;
	text-align: center;
}

/* 게시글 정보 */
#second_table{
	padding-left: 112px;
}
#second_table_border{
	border-radius: 9px;
	border: 1px solid #c0c0c0;
}
#info_box{
	width: 600px;
	padding: 10px;
	
}
#info_box_div{
	float: left;
}

#info_box td:nth-child(1){
	width:95px; 
}
#info_box td:nth-child(2){
	width: 80px;
}
#info_box td:nth-child(3){
	width: 200px;
}
#info_box td:nth-child(4){
	width: 190px;
}

/* 그래프 */
#volunteer_container #info_box2{
	width: 1300px;
	margin-top: 50px;
	padding: 10px;
	border-radius: 9px;
	border: 1px solid #c0c0c0;
	margin-bottom: 100px;
}

.content2{
	width:450px;
	height: 55px;
	font-size: 22px;
}

.content4{
	width:450px;
	height: 55px;
	font-size: 65px;
}

.info_title{
	font-size: 16px;
	color: #636363;
}

/*뒤로가기, 목록 버튼 */
#list_btn_container{
	width:500px;
	margin: 0 auto;
	text-align: center;
}
.list_btn{
	text-align: center;
	margin: 0 auto;
    margin-top: 50px;
    width: 200px;
    height: 61px;
    font-size: 25px;
    color: white;
    border: 1px solid #346aff;
    border-radius: 3px;
    background-color: #346aff;
    cursor: pointer;
}

/*체크박스*/
@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    --active: #275EFE;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #275EFE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;
    &:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    }
    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9;
      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }
      & + label {
        cursor: not-allowed;
      }
    }
    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }
    &:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    &:not(.switch) {
      width: 20px;
      &:after {
        opacity: var(--o, 0);
      }
      &:checked {
        --o: 1;
      }
    }
    & + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  }
  input[type='checkbox'] {
    &:not(.switch) {
      border-radius: 7px;
      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
      }
      &:checked {
        --r: 43deg;
      }
    }
    &.switch {
      width: 38px;
      border-radius: 11px;
      &:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }
      &:checked {
        --ab: var(--active-inner);
        --x: 17px;
      }
      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: .6;
          }
        }
      }
    }
  }